* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    background-color: #F0F0F0;
    margin: 0 auto;
}

#holy-moly {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    background-color: #F0F0F0;
    max-width: 960px;
    margin: 0 auto;
}

.pseudo-container {
    max-width: 960px;
    position: absolute;
    margin-left: calc(50% - 480px);
    margin-top: -36px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
    margin-top: calc(50% - 25px);
}

h4 {
    font-size: 32px;
    margin-top: calc(50% - 20px);
}

h5 {
    font-size: 28px;
}

.h5 {
    font-family: 'Anton', sans-serif;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

#nav-container-xs {
    margin-top: 50px;
}

#nav-container-sm {
    margin-top: 25px;
}

#nav-container-md {
    margin-top: 25px;
}

.nav-white-bar-xs {
    width: 100%;
    height: 125px;
    background-color: white;
    white-space: nowrap;
    margin-top: 80px;
}

.nav-white-bar-sm {
    width: 100%;
    height: 90px;
    background-color: white;
    white-space: nowrap;
    margin-top: 80px;
}

.nav-white-bar-md {
    width: 100%;
    height: 75px;
    background-color: white;
    white-space: nowrap;
    margin-top: 80px;
}

img#logo-for-xs {
    width: 14rem;
    height: 14rem;
}

img#logo-for-sm {
    width: 10rem;
    height: 10rem;
}

img#logo-for-md {
    width: 9rem;
    height: 9rem;
}

.circle a:hover {
    text-decoration: none;
}

.nav-for-xs .logo-text, .nav-for-sm .logo-text {
    font-size: 3em;
    text-transform: lowercase;
}

.nav-for-md .logo-text {
    font-size: 2.5em;
    text-transform: lowercase;
}

#nav-list a {
    font-size: 1em;
}

.nav-item a {
    color: black;
    text-transform: uppercase;
    font-size: 1.25em;
}

.nav-item a:hover {
    text-decoration: underline;
}

#middle-four-circles {
    max-width: 800px;
}

#circle-links-container-small {
    min-width: 653px;
}

.large-circles .circle div {
     width: 14rem;
     height: 14rem;
     border-radius: 100%;
     border: 10px solid white;
     color: white;
     margin: 5px 0;
 }

.small-circles .circle div{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 10px solid white;
    color: white;
    margin: 5px 0;
}

hr {
    border: 1px solid #CCC;
    margin: 50px 0;
}

#selected-work {
    margin-top: 8em;
    margin-bottom: 2em;
}

div .small-circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin: 3px;
}

div .small-circle h5 {
    font-size: 10px;
    padding-top: 3px;
}

.card-img-top {
    border: 10px solid #E6E6E6;
    border-radius: 5px;
}

.card {
    width: 100%;
}
#apple-img-lg {
    max-height: 192px;
}
#apple-img-md {
    max-height: 140px;
}
#apple-img-sm {
    max-height: 156px;
}

#img-man-lg {
    max-height: 192px;
}
#img-man-md {
    max-height: 140px;
}
#img-man-sm {
    max-height: 156px;
}

#last-images img {
    height: 50px;
    width: 50px;
    border: 3px solid #E6E6E6;
    border-radius: 3px;
    object-fit: cover;
}

.thumbnail-pic {
    background-image: url("assets/images/mobile-phone.jpg");
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

#twitter-bird {
    font-size: 2em;
}

#twitter-text {
    font-size: 0.75em;
    text-transform: none;
    text-align: justify;
}