* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
    margin-top: calc(50% - 25px);
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

div .circle {
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    border: 10px solid white;
    color: white;
    margin: 20px 0 20px 0;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

body {
    font-family: 'Abel', sans-serif;
}
div .small-circle {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px;
}

div .small-circle h5 {
    font-size: 14px;
    padding-top: 5px;
}

.card-img-top {
    border: 10px solid #E6E6E6;
    border-radius: 5px;
}

#selected-work {
    margin-top: 8em;
    margin-bottom: 2em;
}

.card {
    width: 90%;
}

#circle-links-container {
    width: 500px;
}

#title-container {
    width: 500px;
}