* {
    box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
    margin-top: calc(50% - 20px);
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

div .circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 15px solid white;
    padding: 15px;
    color: white;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

body {
    font-family: 'Abel', sans-serif;
}